<div id='edit-post' class='modal'>
	<div class='modal-background'></div>

	<div class='modal-content'>
		<form class='form box has-background-white'>
			<div class='field'>
				<label class='label'>{{post.title}}</label>
				
					<textarea
						id='post-update-input'
						class='is-focused is-fullwidth'
						rows='3'
						data-text='{{post.content}}'
					></textarea>
					<div class='file block'>
						<label class='file-label'>
							<input
								id='media-update-input'
								class='file-input'
								type='file'
								name='fileName'
							/>
							<span class='file-cta'>
								<span class='file-icon'>
									<i class='fas fa-upload'></i>
								</span>
								<span class='file-label'> Choose a file… </span>
							</span>
						</label>
					</div>
					<button
						id='post-update-submit-btn'
						data-user='{{user_id}}'
						data-post='{{post.id}}'
						class='button'
					>Submit</button>

				
			</div>

		</form>
	</div>
	<button class='modal-close is-large' aria-label='close'></button>
	</div>
	
</div>