<div class='buttons is-centered no-border'>
	<a href='/'><li class='button fa-solid fa-list is-large'></li></a>
	<a><li class='button fa-solid fa-search is-large'></li></a>
	<a href='/profile'><li class='button fa-solid fa-user is-large'></li></a>
	<a href='/chats'><li class='button fa-solid fa-comments is-large'></li></a>
</div>