<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">

</head>

<body>  

<section class="hero is-info is-small">
	<figure class="image is-96x96">
		<img class="" src="https://i1.wp.com/ph-files.imgix.net/5b14d384-cc22-4e1f-a5d8-aa8c34529006.png?w=439&q=75" />
	</figure>
</section>

        <section class ="hero is-light is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-6-desktop">
                            <form class="box">
                                <div class="field has-text-centered">
									<figure class="image is-2by1">
                                        <img src="https://nordvpn.com/wp-content/uploads/blog-featured-nordvpn-login-and-sign-up-process-explained-1.svg"/>
                                      </figure>

                                      <div class="field">
                                        <lable class="label has-text-link is-large" for="email-input">Email</lable> 
                                        <div class="control has-icon-left">
                                            <input class="input" type='text' id='email-input' required>
                                        </div>
                                      </div>

									  <div class="field">
                                        <lable for="username-input" class="label has-text-link is-large">Username</lable>
                                        <div class="control has-icon-left">
                                            <input class="input" type="password" id='password-input' required>
                                        </div>
                                      </div>

                                      <div class="field">
                                        <lable for="password-input" class="label has-text-link is-large">Create Password</lable>
                                        <div class="control has-icon-left">
                                            <input class="input" type="password" id='password-input' required>
                                        </div>
                                      </div>

									  <div class="field">
                                        <label class="checkbox">
											<input type="checkbox">
											Agree to Terms and Conditions
										</label>
                                      </div>

                                      <div class="field">
                                        <button class="button is-success" type="submit">Create New Account</button>
                                      </div>
                                                         
                                </div>
                            </form>
                        </div>
                    </div>
                </div>            
            </div>
        </section>
        <section class="hero is-info">
            <div class="content has-text-centered has-text-black is-medium">
                <p>
                    Designed by Triumvirate with ❤️
                </p>
            </div>
        </section>
  
<script src="/js/signup.js"></script>
</body>

</html>