{{log this}}
<html>
	<head>
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Popchat</title>
		<link
			rel='stylesheet'
			href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'
		/>
		<link rel='stylesheet' href='style.css' />

	</head>
	<body>
		{{!-- if user is logged in render logout button --}}
		{{!-- else render logout button --}}
		{{#if logged_in}}
		<button type="button" id="logout-btn">Logout</button>
		<script src="/js/logoutBtn.js"></script>
		{{else}}
		<button type="button" id="login-btn">Login</button>
		<script src="/js/loginBtn.js"></script>
		{{/if}}

		{{{body}}}

	</body>
</html>