{{log this}}

<div class='container'>
	{{#each chats as |chat|}}
  <div class="card">
  <header class="card-header">
    <p class="card-header-title">message</p>
  </header>
  <div class="card-content">
    <div class="content">
      {{chat.user_a}}
      {{chat.user_b}}
    
    </div>
  </div>
  <footer class="card-footer">
    
  </footer>
</div>
  {{/each}}
  
  <div class="container">
    <h3 class="">
      
    </h3>
    <p>
      
    </p>
  
</div>