<form id='post-form' class='content form p-5 box' enctype='multipart/form-data'>
	<h2>Create New Post</h2>
	<div class='field'>
		<label class='label' for='title-input'>Title</label>
		<div class='control'>
			<input class='input' type='text' id='title-input' />
		</div>
	</div>
	<div class='field'>
		<label class='label' for='content-input'>Content</label>
		<div class='control'>
			<input class='input' type='text' id='content-input' />
		</div>
	</div>
	<div>
		<div class='file'>
			<label class='file-label' for='media-input'>
			<div class='control file'>
				<input
					class='is-info button'
					type='file'
					name='upload'
					id='media-input'
				/>
			</div>
		</div>
	</div>
	<div class='control pt-4'>
		<button class='is-primary button' type='submit'>Submit</button>
	</div>
</form>
<script src='/js/create-post.js'></script>