<form id='post-form' enctype="multipart/form-data">
	<h3>Create New Post</h3>
	<div>
		<label for='title-input'>Title</label>
		<input type='text' id='title-input' />
	</div>
	<div>
		<label for='content-input'>Content</label>
		<input type='text' id='content-input' />
	</div>
	<div>
		<label for="media-input">Media</label>
		<input type="file" id="media-input">
	</div>
	<button type='submit'>Login</button>
	<a href='/users/signup'>Sign Up Instead</a>
</form>