<form id='post-form' data-post-id='{{post.id}}' enctype='multipart/form-data'>
	<h3>Update Post</h3>
	<div>
		<label for='title-input'>Title</label>
		<input type='text' value={{post.title}} id='title-input' />
	</div>
	<div>
		<label for='content-input'>Content</label>
		<input type='text' value={{post.content}} id='content-input' />
	</div>
	<div>
		<label for='media-input'>Media</label>
		<input type='file' name='upload' id='media-input' />
	</div>
	<button id='#submit' type='submit'>Submit</button>
</form>
<script src='/js/edit-post.js'></script>