<form id='login-form'>
	<h3>Login</h3>
	<div>
		<label for='email-input'>Email</label>
		<input type='text' id='email-input' />
	</div>
	<div>
		<label for='password-input'>Password</label>
		<input type='password' id='password-input' />
	</div>
	<button type='submit'>Login</button>
	<a href='/users/signup'>Sign Up Instead</a>
</form>
<script src='/js/login.js'></script>