<form id="signup-form">
	<h3>Signup</h3>
	<div>
		<label for="email-input">Email</label>
		<input type="text" id="email-input">
	</div>
	<div>
		<label for="username-input">Username</label>
		<input type="text" id="username-input">
	</div>
	<div>
		<label for="password-input">Password</label>
		<input type="password" id="password-input">
	</div>
	<button type="submit">Sign Up</button>
</form>
<script src="/js/signup.js"></script>